---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col justify-center items-center min-h-screen">
    <img
      class="w-full max-w-6xl"
      src="https://y.yarn.co/92cfce12-7f5e-4d8b-832a-36d099d5b841_text.gif"
    />
  </main>
</Layout>
